.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 28rem;
  outline-style: solid;
  outline-width: 1px;
  outline-color: grey;
}

.innerContainer {
  width: 20rem;
  height: 25rem;
}

.datesContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 2rem;

  outline-style: solid;
  outline-width: .5px;
  outline-color: lightgrey;
}