.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 28rem;
  outline-style: solid;
  outline-width: 1px;
  outline-color: grey;
}

.container2 {
  width: 20rem;
  height: 25rem;
/*  outline-style: solid;
  outline-width: 1px;
  outline-color: grey;  position: fixed;*/

}